/* Universal styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  display: block;
}

h2 {
  top: 30px;
  margin-bottom: 20px;

}


h2, h4 {
  position: relative;
  display: flex;
  padding: 20px;
  word-wrap: break-word;
  margin-bottom: 10px;

}

section {
  position: relative;
  margin-bottom: 50px;

}

/* Navbar styles */

.navbar {
  position: fixed;
  height: 69px;
  width: 100%;
  display: flex;
  border-bottom: 1px solid seashell;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  z-index: 10;
}


.logo img {
  height: 50px;
  width: auto;
  margin-left: 10px;
}

.nav-items ul {
  margin-right: 10px;
}

.nav-items li{
  display: inline-block;
  text-decoration: underline;
  margin: 0px 5px;
}

/* Main content styles */

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* Featured image style */

.featured-image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 69px;
  min-height: 700px;
  height: auto;
  width: 100%;
  max-width: 1200px;
  background-size: cover;
}

.featured-image.mission {
  background-image: url(./img/img-mission-background.webp);
}

.featured-image.locations {
  background-image: url(./img/img-locations-background.webp);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5px;
}

.featured-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  width: 100%;
  flex-wrap: wrap;
  padding: 10px;
}

/* Product Gallery Styles */

.product-gallery {
  position: relative;
  top: 75px;
  display: flex;
flex-direction: column;
align-items: center;
max-width: 1000px;
}

.product-gallery__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-gallery__images {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.product-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  width: 300px;
  padding: 20px;
  margin: 5px 0px;
}

.product-image img {
  height: 200px;
}


.locations {
  height: 500px;
}

.locations-header {
  margin-bottom: 15px;
}

.locations-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  overflow-x: scroll;
  padding: 20px 0px;
}

.location {
  height: 300px;
  min-width: 300px;
  padding: 20px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 10px 20px;
}

/* Contact Styles */

.contact {
  display: flex;
  flex-direction: column;
  height: 200px;
  align-items: center;
  justify-content: space-between;
}

/* Footer Styles */

footer {
  text-align: left!important;
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 0px;
}

/* Media Queries */

@media only screen and (max-width: 530px) {
  li {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 1200px) {

  footer {
    padding: 20px;
  }

}